.movies {
    display : flex;
    justify-content: center; /* Center content horizontally */
    flex-wrap: wrap;
}
.movie-card {
    cursor: pointer;
    padding: 30px;
    border: 5px solid rgb(216, 191, 216);
    margin: 20px;
    text-align: center;
    width: calc(20% - 25px);
    box-sizing: border-box; 
    display: inline-block; /* Make the movie cards inline-block elements */
    vertical-align: top; /* Align movie cards at the top of the row */
    background-color: mediumslateblue;
    color: aliceblue;
}

.movie-card h3 {
    margin: 0;
  }

.movie-card img {
max-width: 100%;
height: auto;
box-shadow: 5px 10px 6px rgb(216, 191, 216);
transition: box-shadow 0.3s ease;
}